.modal-container {
    z-index: 999;

    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.services {
    &-list {
        display: flex;
        flex-direction: column;
        min-height: 25vh;
        max-height: 50vh;
        padding: .5rem;
    }

    &-input {
        flex-grow: 1;
        width: 90vw;
        max-width: 750px;
    }
}