.modal-container {
    width: 100vw;
    height: 100vh;
    z-index: 999;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.services {
    &-container {
        flex-grow: 1;
        max-height: 50vh;
        max-width: 750px;
    }

    &-input {
        width: 100%;
    }
}