$container-width: 400px;
$container-height: 90vh;

.container {
  position: fixed;
  top: 50vh;
  right: 2rem;

  height: $container-height;
  width: $container-width;

  transform: translateY(-47%);
  z-index: 1;

  &-loading {
    position: absolute;
    top: 0;
    left: 0;

    width: $container-width;
    height: $container-height;
  }
}
