.container {
  padding: 0;
}

.container:hover {
  cursor: pointer;
  border-color: var(--ant-color-primary-hover);
  box-shadow: 0 0 5px -2px var(--ant-color-primary-hover);
}

.selected {
  border-color: var(--ant-color-primary-hover);
  box-shadow: 0 0 5px -2px var(--ant-color-primary-hover);
}
