.inspector {
    &-container {
        position: absolute;
        top: 0;
        right: 0;

        height: 100%;
        width: 20vw;
        min-width: 300px;
        max-width: 500px;

        z-index: 1;
    }
}